@charset "UTF-8";

@font-face {
  font-family: 'Alegreya';
  font-weight: normal;
  font-style: normal;
src: url('/css/Alegreya-Regular.eot');
src: url('/css/Alegreya-Regular.eot?#iefix') format('embedded-opentype'),
url('/css/Alegreya-Regular.woff2') format('woff2'),
url('/css/Alegreya-Regular.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Alegreya';
  font-weight: normal;
  font-style: italic;
src: url('/css/Alegreya-Italic.eot');
src: url('/css/Alegreya-Italic.eot?#iefix') format('embedded-opentype'),
url('/css/Alegreya-Italic.woff2') format('woff2'),
url('/css/Alegreya-Italic.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Alegreya';
  font-weight: bold;
  font-style: normal;
src: url('/css/Alegreya-Bold.eot');
src: url('/css/Alegreya-Bold.eot?#iefix') format('embedded-opentype'),
url('/css/Alegreya-Bold.woff2') format('woff2'),
url('/css/Alegreya-Bold.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Alegreya';
  font-weight: bold;
  font-style: italic;
src: url('/css/Alegreya-BoldItalic.eot');
src: url('/css/Alegreya-BoldItalic.eot?#iefix') format('embedded-opentype'),
url('/css/Alegreya-BoldItalic.woff2') format('woff2'),
url('/css/Alegreya-BoldItalic.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Courgette';
  font-weight: normal;
  font-style: normal;
src: url('/css/Courgette.eot');
src: url('/css/Courgette.eot?#iefix') format('embedded-opentype'),
url('/css/Courgette.woff2') format('woff2'),
url('/css/Courgette.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'AlegreyaSC';
  font-weight: normal;
  font-style: normal;
src: url('/css/AlegreyaSansSC-Light.eot');
src: url('/css/AlegreyaSansSC-Light.eot?#iefix') format('embedded-opentype'),
url('/css/AlegreyaSansSC-Light.woff2') format('woff2'),
url('/css/AlegreyaSansSC-Light.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Inconsolata';
  font-weight: normal;
  font-style: normal;
src: url('/css/Inconsolata.eot');
src: url('/css/Inconsolata.eot?#iefix') format('embedded-opentype'),
url('/css/Inconsolata.woff2') format('woff2'),
url('/css/Inconsolata.woff') format('woff');
  font-display: swap;
}


/* ==========================================================================
   Styling and layout for all media
   ========================================================================== */
/* Reset
   ========================================================================== */
/**
 * Add the correct display in Edge, IE 11, and Firefox.
 */

main {
  display: block;
}


/**
 * Remove tap delay in modern browsers.
 */
a,
input,
button {
  touch-action: manipulation;
}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td {  
  margin:0; 
  padding:0; 
}

/* Clearfix
   ========================================================================== */
header::after,
footer::after,
nav ul::after,
nav ol::after,
.container::after,
.paginator::after {
  content: "";
  display: table;
  clear: both;
}

/* ==========================================================================
   Styling and layout for screen media (mobile first)
   ========================================================================== */
@media screen {



  /* Layout
     ========================================================================== */

html, *, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}


html>body {
    font-size: 16px;
  }

body {
  margin: 0;
  position: relative;
  text-rendering: auto;
  -webkit-tap-highlight-color: #92008b;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  font-size: 100.01%;
  background: transparent url(/images/1.png); 
  }


/* ==========================================================================
   Full-width header image
   ========================================================================== */
  .header-wrap {
    width: 100%;
    margin: 0 auto;
    padding: 0; 
    background: transparent url(/images/2.png)repeat-x top center; 
    height: 200px;
  }

  /* ==========================================================================
   For a small centred image, swap these for the equivalent above

  .header-wrap {
        background: transparent url(/images/2.png) top center no-repeat; 
        max-width: 880px;
 
        }

   ========================================================================== */
  .site-header {
    width: 95%;
    margin: 0 auto;
    padding: 2px 20px; 
    max-width: 880px; 
    background: transparent;
  }
  .wrapper {
    width: 95%; 
    margin: 0 auto; 
    margin-top: 0; 
    padding-top: 0;
    }
  .container {
    width: 100%; 
    margin: 0 auto; 
    padding: 0 20px;  
    max-width: 880px; 
    position:relative;
  }
  .site-footer {
    width: 100%;
    margin: 0 auto;
    padding: 1.618em 0;
    max-width: 880px; 
  }
  .article {
    margin-bottom: 1.618em;
    word-wrap: break-word;
  }
  .bodywrap {
    padding-top: 1.618em;
  }
  .complementary-content {
    padding: 1.618em 0 0;
    word-wrap: break-word;
  }

  .search {
    position:relative; 
    float:right;
    margin-right: 0; 
    margin-top: 0;
    padding: 0;
    background: transparent;
  }
  .search input[type=search] {
    height: 1.618em;
    width: 1.618em;
    padding-right: 0;
    padding-left: 2em;
    border-radius: 0.5em;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill='%23346'%3E%3Cpath d='M4,13c0-5,4-9,9-9c5,0,9,4,9,9c0,5-4,9-9,9C8,22,4,18,4,13z M13,19c3.3,0,6-2.7,6-6s-2.7-6-6-6s-6,2.7-6,6S9.7,19,13,19z'/%3E%3Cpath d='M17.5,19l1.5-1.5l4.5,3L28,25c0,0,0,1.5-0.75,2.25S25,28,25,28l-4.5-4.5L17.5,19z'/%3E%3C/g%3E%3C/svg%3E") no-repeat left center;
    background-size: 1.618em 1.618em;
    transition: width 0.2s ease-in-out, border-color 0.2s ease-in-out;
    cursor: pointer;
  }
  .search input[type=search]:focus {
    width: 16em;
    padding-right: 0.1875em;
    cursor: auto;
  }
  

  /* Links
     ========================================================================== */
  
a, a:visited {
  text-decoration: none;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
  }
a:hover, a:active,
.article a:hover, 
.article a:active {
  outline: 0;
  text-decoration: underline; 
  }
.article a, 
.article a:visited {
  text-decoration: underline;
}
.article h2 a, 
.article h2 a:visited {
  text-decoration: none;
}
.article h2 a:hover, 
.article h2 a:active {
  text-decoration: underline;
}

a[rel~="external"] {
  text-decoration: none;
  }
.article a[rel~="external"], 
a.ext {
  text-decoration: underline;
  text-decoration-style: wavy;
}
a[rel~="external"]:hover, a.ext:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
} 

  .site-header a, 
  .site-header a:visited {
    font-family: AlegreyaSc, sans-serif; 
    padding: 2px 4px;
    height: 1.618em;
    border-radius: 0.5em;
    text-decoration: none;
    text-transform: lowercase;
  }

  .paginator {
    clear: both;
    padding-bottom: 1.618em;
  }
  .paginator [rel=prev] {
    float: left;
  }
  .paginator [rel=next] {
    float: right;
  }
  .paginator a, 
  .site-footer a.prev, 
  .site-footer a.up {
    font-family: Courgette, sans-serif;
  }

  a.topl,
  a.topr {
  position:fixed;
  bottom: 0;
  display:block;
  padding: 1em 0 0;
  font: bold 1.2em Alegreya, serif;
  background:transparent;
  scroll-behavior: smooth;
  }
  a.topl {left:0;} 
  a.topr {right:0;}
  a.next {text-decoration: underline; }
  


  /**
   * Visually hide unfocussed/inactive ‘skip links’.
   *
   * Example HTML:
   *
   * <a class="skip-link">
   */
  .skip-link {
    position: absolute;
    z-index: 2;
    top: 1px;
    left: 1px;
    padding: 0.25em 0.5em;
    transform: translateY(-5em);
    transition: transform 0.25s ease-in-out;
    font-family: system-ui, -apple-system, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  .skip-link:focus, 
  .skip-link:active {
    transform: translateY(0);
  }
 


  /* Typography
     ========================================================================== */
  

body {
    font-family: Alegreya, Georgia, "Liberation Serif", serif; 
}

html>body {
  font-size: 1em; 
  line-height: 1.618;
}

.article p {
  text-indent: 1em; 
  margin: 0;
  }
  p:first-of-type {
    text-indent: 0;
  }
  .comments-wrapper p {
    text-indent: 0;
  }
  .bodywrap p:first-of-type:first-letter,
  .latest-p:first-letter {
    font: normal normal 24px/.7 Alegreya, serif;
    letter-spacing: -.033em;
    color: #ac887d;
  }

h1,
h2,
h3,
h4  {
  clear: both;
  font-feature-settings: "kern" 1, "liga" 1, "swsh" 1;
  }

h1 {
  font: normal normal 2em/1 Courgette, sans-serif;
  margin: 0 0 1.618em;
  padding: 2.427em 0 0;
  text-transform: capitalize;
  }
p.subhead {
  font: normal normal 1.35em/1.2 Courgette, sans-serif; 
  margin: 1.2em 0 2.4em;
  }

h2 {
  font: normal normal 2em/1.618 Courgette, sans-serif;
  margin: 1.618em 0 0;
  padding: 0;
  text-transform: capitalize;
  }
  .latest-post h2 {
    margin: 0 0 1.618em 0;
    padding: 3.236em 0 0;
    line-height: 1.214;
    font-weight: bold;
  }
  h2#primary-navigation {
    line-height: 1.214;
    padding:.405em 0;
  }
  .article h2 {
    line-height: 1.214;
    padding-bottom: .809em;
  }
 
h3 {
  font: normal normal 1.8em/.9 Courgette, sans-serif;
  margin: 0;
  padding-top: .9em;
  }
  .search-page h3 {
  font-size: 1.25em;
  margin: 1.29em 0 0;
  line-height: 1.29;
  }
  #comments-head h3 {
  margin-top: 1.8em;
  line-height: 1.35;
  padding-bottom:.45em;
  }
h4 { 
  font: normal normal 1.35em/1.2 Courgette, sans-serif;
  margin: 1.2em 0 0;
  }

.site-header h1, 
.site-header nav {
  font: normal normal 1rem/1.1618 AlegreyaSC, sans-serif;  
  padding: 0;
  display: inline-block; 
  text-indent: 0;
  }
.sc {
  font: normal normal 1em/1.1618 AlegreyaSC, sans-serif;
  text-indent: 0;
  margin-bottom: .809em;
  text-transform: lowercase; 
  }
  h3.sc {
  font: normal normal 1em/1.1618 AlegreyaSC, sans-serif;
  padding-top: 0.405em; 
  }
.ss label {
  font-family: Courgette, sans-serif;
  text-indent: 0;
  margin: 1.618em 0 0; 
  width: 100%; 
  display: block;
  }

.sticky-post {
    width: 100%;
    position: relative;
    margin: 3.236em 0;
    padding: 0 .405em;
    border-width: 1px 0; 
    display:block;
  }
  article.stickypost {
    margin: 0;
  }
  .visually-hidden {
    position: absolute;
   opacity: 0;
   pointer-events: none;
   margin:0;
   padding:0;
  }
   .stickyleft {
    width: 90%;
    position:relative; 
    padding: 1em 0;
    left: 0; 
    top: 0;
    display: inline-block; 
    text-indent: 0;
  }
  .stickyright {
    width: 6%; 
    position: relative; 
    float: right; 
    padding-top: 1.618em;
    display: inline-block;
  }
  .stickyright img {
    padding: 0; 
    margin: 0;
  }


.primary-list header {
  font: normal normal 1.25em/1.29 Alegreya, serif;
  margin: 1.29em 0 0;

  }


:after, :before {
  font-family: AlegreyaSC;
}
q:before, q:after {
  font-family: Courgette;
}



  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  b,
  strong {
    font-weight: bolder;
  }

  /**
   * Add vertical margin to addresses.
   */
  address {
    margin: 1em 0;
  }

  /**
   * Additional styling for blockquotes.
   */
  blockquote {
    margin: .809em 0;
    padding: .809em 0;
    border-width: 1px 0;
  }

  /**
   * 1. Remove the bottom border in Chrome 57+.
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  abbr[title] {
    /* 1 */
    border-bottom: 0;
    /* 2 */
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted;
  }

  /**
   * Consistent styling for `mark` and `var` tags.
   */
mark,
var {
    border-radius: 0.2em;
  }
  /**
   * Harmonize size and style of computer text.
   */
pre,
code,
kbd,
samp {
    border-radius: 0.2em;
    font-family: Inconsolata, monospace;
  }
mark,
var,
code,
kbd,
samp {
    padding: 1px 2px;
  }

  /**
   * Additional stylng for preformatted text/code.
   *
   * 1. Contain overflow in all browsers.
   * 2. Don't wrap long words.
   * 3. Set tab size to 4 spaces.
   */
pre {
    padding: 0.5em 1.125em;
    /* 1 */
    overflow-x: auto;
    /* 2 */
    word-wrap: normal;
    /* 3 */
    -moz-tab-size: 4;
      -o-tab-size: 4;
         tab-size: 4;
  }
pre code {
    padding: 0;
    border: 0;
    background-color: transparent;
    direction: ltr;
    font-size: 1em;
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none;
    text-align: left;
    word-wrap: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: pre;
  }

  /**
   * Prevent `sub` and `sup` elements from affecting the line height in all
   * browsers.
   */
sub,
sup {
    position: relative;
    font-size: 0.75em;
    line-height: 0;
    vertical-align: baseline;
  }

sup {
    top: -0.5em;
  }

sub {
    bottom: -0.25em;
  }

figcaption {
    font-style: italic;
  }

hr {
    display:block;
    width:100%; 
    height: 1px;
    margin: 1.618em auto;
    background: url(/images/4.png) no-repeat center;
    background-size: contain;
    border:none;
  }

  .centred {
    text-align: center;
  }
  .centred p {
    text-indent: 0;
    margin-bottom: .809em;
  }
  

  /* Embedded content
     ========================================================================== */
  /**
   * Add the correct display in IE 11.
   */
  video {
    display: inline-block;
  }

  /**
   * Make embedded elements responsive.
   */
  img,
  video {
    max-width: 100%;
    height: auto;
  }

  /**
   * Images.
   *
   * 1. Remove the gap between images and the bottom of their containers.
   *
   * Image alignment (compatible with Textile markup syntax).
   *
   * Example HTML:
   *
   * <img class="align-left">
   * <img class="align-right">
   * <img class="align-center">
   */
  img {
    /* 1 */
    vertical-align: middle;
    margin: 0; 
    padding: 0;
  }
  img.align-left {
    margin: .809em .809em .809em 0;
    float: left;
  }
  img.align-right {
    margin: .809em 0 .809em .809em;
    float: right;
  }
  img.align-center {
    display: block;
    margin: .809em auto;
  }

  figure {
  margin: .809em 0;
  }


  /* Tables
     ========================================================================== */
  /**
   * Consistent tables.
   */
  table {
    width: 100%;
    margin-bottom: 1em;
    border-spacing: 0;
    border-collapse: collapse;
  }

  /**
   * Styling of table captions.
   */
  caption {
    margin-bottom: 0.5em;
    font-style: italic;
    text-align: left;
  }

  /**
   * Make table cells align top and left by default.
   */
  th,
  td {
    padding: 0.5em;
    border: 1px solid #b2bace;
    vertical-align: top;
    text-align: left;
  }


  /**
   * Adjust padding of table footer due to smaller font size.
   */
  tfoot th,
  tfoot td {
    padding: 0.809em;
  }

  /**
   * Multi-row span vertical cell alignments.
   */
  [rowspan] {
    vertical-align: middle;
  }

  /* Lists
     ========================================================================== */
  /**
   * Address paddings set differently.
   */
ul {
  list-style-type: circle;
}
ul ul li {
  font-size: 1em;
}
ol, 
ul {
  margin-top: 1.618em;
  margin-bottom: 1.618em;
}
ol.double,
ul.double {
  line-height: 3.236;
}
  
menu,
ol,
ul {
    padding: 0;
  }
ul ul, 
ol ol {
  padding: .809em 0 .809em 1em;
}

  /**
   * Remove margins from nested lists.
   */
li > ul,
li > ol {
    margin: 0;
  }
ol.comments-list {
  margin-bottom: 1.618em;
}

  /**
   * Address margins set differently.
   */
  dd {
    margin: 0;
  }

  /**
   * Additional styling for article lists.
   *
   * Example HTML:
   *
   * <ul class="article-list">
   */
  .article-list {
    margin: 0 0 1.618em;
    padding: 0;
    border-top: 1px solid #cfd4e2;
    list-style: none;
  }
  .article-list li {
    margin-bottom: 0;
    border-bottom: 1px solid #cfd4e2;
  }

  .front-page main ul li {
    list-style: none outside;
  }



   /* Forms
     ========================================================================== */
  /**
   * 1. Address width being affected by wide descendants in Chrome, Firefox.
   * 2. Define consistent fieldset border, margin, and padding.
   */
  fieldset {
    /* 1 */
    min-width: 0;
    /* 2 */
    margin: 1em 0;
    padding: 1px 1em;
    border: 1px solid #cfd4e2;
  }

  /**
   * Normalize styling of `legend`.
   *
   * 1. Correct wrapping not present in IE 11 and Edge 12/13.
   * 2. Remove padding so people aren't caught out if they zero out fieldsets.
   * 3. Correct `color` not being inherited from fieldset in IE 11.
   */
  legend {
    /* 1 */
    display: table;
    /* 1 */
    box-sizing: border-box;
    /* 1 */
    max-width: 100%;
    /* 2 */
    padding: 0;
    /* 3 */
    color: inherit;
    /* 1 */
    white-space: normal;
  }

  /**
   * Show the overflow in Edge.
   */
  button,
  input {
    overflow: visible;
  }

  /**
   * 1. Prevent elements from spilling out of their parent.
   * 2. Address margins set differently in Firefox 4+, Safari, and Chrome.
   * 3. Correct font properties not being inherited.
   */
  button,
  input,
  optgroup,
  select,
  textarea {
    box-sizing: border-box;
    /* 1 */
    max-width: 100%;
    /* 2 */
    margin: 0;
    color: #50586e;
    font-family: Alegreya, serif;
    /* 3 */
    font-size: 1rem;
    line-height: 1.375;
    vertical-align: baseline;
  }

  /**
   * Styling of form input fields.
   *
   * 1. Remove browser-specific default styling.
   */
  [type=color],
[type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
select,
textarea {
    height: 2em;
    padding: 0.25em 0.1875em;
    border: 1px solid #cfd4e2;
    border-radius: 0;
    background: #fff;
    /* 1 */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  [type=color]:focus,
[type=date]:focus,
[type=datetime]:focus,
[type=datetime-local]:focus,
[type=email]:focus,
[type=month]:focus,
[type=number]:focus,
[type=password]:focus,
[type=search]:focus,
[type=tel]:focus,
[type=text]:focus,
[type=time]:focus,
[type=url]:focus,
[type=week]:focus,
select:focus,
textarea:focus {
    border-color: #92008b;
    outline: 1px solid transparent;
  }

  /**
   * 1. Remove any excess padding.
   * 2. Correct margins for inline checkbox/radio labels.
   */
  [type=checkbox],
[type=radio] {
    /* 1 */
    padding: 0;
  }
  [type=checkbox] + label,
[type=radio] + label {
    /* 2 */
    margin: 0 0.5em 0 0;
  }
  [type=checkbox] + label:last-of-type,
[type=radio] + label:last-of-type {
    /* 2 */
    margin: 0;
  }

  /**
   * Correct the cursor style of increment and decrement buttons in Safari.
   */
  [type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto;
  }

  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  [type=search]::-webkit-search-decoration {
    /* autoprefixer: off */
    appearance: none;
  }

  /**
   * Use indicator icon to signify the drop-down ability of `select`.
   */
  select {
    padding-right: 1.5em;
    background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='5' viewBox='0 0 17 5'%3E%3Cpolygon fill='%23333' points='0,0 5,5 10,0'/%3E%3C/svg%3E") right center no-repeat;
    background-size: 1.0625em 0.3125em;
    text-transform: none;
  }

  /**
   * Remove browser-specific `select` UI in IE 11.
   */
  select::-ms-expand {
    opacity: 0;
  }

  /**
   * Override height and background set in a previous rule and allow auto height.
   */
  select[size],
  select[multiple] {
    height: auto;
    padding-right: 0.5em;
    background-image: none;
  }

  /**
   * Override height set in rule above and restrict to one line field.
   */
  select[size="0"],
  select[size="1"] {
    height: 2em;
  }

  /**
   * Normalize styling of `optgroup`.
   */
  optgroup {
    font-style: normal;
    font-weight: bold;
  }

  /**
   * 1. Remove default vertical scrollbar in IE 11.
   * 2. Remove unwanted space below `textarea` in Safari, Chrome, Opera.
   * 3. Restrict to vertical resizing to prevent layout breakage.
   */
  textarea {
    width: 100%;
    height: auto;
    min-height: 3em;
    /* 1 */
    overflow: auto;
    /* 2 */
    vertical-align: top;
    /* 3 */
    resize: vertical;
  }

  /**
   * Make sure disabled elements really are disabled and styled appropriately.
   *
   * 1. Override default iOS opacity setting.
   * 2. Re-set default cursor for disabled elements.
   */
  [disabled],
[disabled] option,
[disabled] optgroup,
span.disabled {
    border-color: #d4d4f4 !important;
    /* 1 */
    opacity: 1;
    background: #eeeeff !important;
    box-shadow: none !important;
    color: #aaaacc !important;
    text-shadow: none !important;
    /* 2 */
    cursor: default !important;
  }

  /**
   * Width display options for `input` fields. Height display options
   * for textareas.
   *
   * Example HTML:
   *
   * <input class="small">
   * <input class="large">
   */
  .small input {
    width: 25%;
    min-width: 151px;
  }
  .small textarea {
    height: 4.854em;
  }

  .large input {
    width: 50%;
    min-width: 302px;
  }
  .large textarea {
    height: 9.708em;
  }

  /**
   * Styling for form field validation.
   */
  input:focus:invalid,
select:focus:invalid,
textarea:focus:invalid {
    border-color: #92008b;
    box-shadow: none;
  }

  /**
   * Styling for Firefox-specfic form field validation.
   */
  input:-moz-ui-invalid,
select:-moz-ui-invalid,
textarea:-moz-ui-invalid {
    border-color: #92008b;
    box-shadow: none;
  }

  /**
   * Normalize form placeholder style across browsers.
   *
   * 1. Fix placeholder font properties inheritance.
   */
  ::-webkit-input-placeholder {
    opacity: 1;
    color: #9999cc;
    /* 1 */
    font: inherit;
  }
  :-ms-input-placeholder {
    opacity: 1;
    color: #9999cc;
    /* 1 */
    font: inherit;
  }
  ::-ms-input-placeholder {
    opacity: 1;
    color: #9999cc;
    /* 1 */
    font: inherit;
  }
  ::placeholder {
    opacity: 1;
    color: #9999cc;
    /* 1 */
    font: inherit;
  }

  /**
   * Styling for required field indicators.
   *
   * Example HTML:
   *
   * <b class="required" title="Required">*</b>
   */
  .required {
    border: 0;
    color: #a80c35;
  }

  /* Buttons
     ========================================================================== */
  /**
   * 1. Address `overflow` set to `hidden` in IE 11.
   * 2. Remove the inheritance of text transform in Edge, Firefox, and IE 11.
   */
  button {
    /* 1 */
    overflow: visible;
    /* 2 */
    text-transform: none;
  }

  /**
   * Remove the inner border and padding in Firefox.
   */
  button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    padding: 0;
    border-style: none;
  }

  /**
   * 1. Remove browser-specific default styling.
   * 2. Improve usability and consistency of cursor style between image-type
   *    `input` and others.
   */
  button,
[type=button],
[type=reset],
[type=submit] {
    background-color: #dfdfff;
    background-image: linear-gradient(#eeeeff, #dfdfff);
    display: inline-block;
    position: relative;
    width: auto;
    height: 2em;
    padding: 0.25em 1em;
    border: 1px solid #dfdfff;
    border-radius: 1em;
    background-clip: padding-box;
    box-shadow: 0 2px 0 #acacaf;
    color: #002b97;
    font-weight: normal;
    text-align: center;
    /* 1 */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    /* 2 */
    cursor: pointer;
  }
  button:hover,
[type=button]:hover,
[type=reset]:hover,
[type=submit]:hover {
    background-color: #e9e9ff;
    background-image: linear-gradient(#f8f8ff, #e9e9ff);
    border-color: #bebefe;
    color: #02018d;
    text-decoration: none;
  }
  button:active,
[type=button]:active,
[type=reset]:active,
[type=submit]:active {
    top: 2px;
    border-color: #bebedf;
    box-shadow: none;
    color: #1a1a3c;
    text-decoration: none;
  }
  button:focus,
[type=button]:focus,
[type=reset]:focus,
[type=submit]:focus {
    border-color: #014695;
    outline: 1px solid transparent;
  }

  /**
   * Disbaled button additional styling.
   */
  button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
    top: 2px !important;
  }


  /* Comments
     ========================================================================== */
  /**
   * Styling for user comments.
   *
   * Example HTML:
   *
   * <article class="comments">
   */
  .comments {
    margin-bottom: 1em;
    padding: 0 .809em .809em;
    border-radius: 0.5em;
    word-wrap: break-word;
  }
  .comments h3 .is-author {
    font-weight: normal;
  }
  .comments h3 .comment-anchor {
    float: right;
    font-weight: normal;
  }


  /**
   * Styling for user comments preview.
   */
  #cpreview {
    margin-bottom: 2px;
    padding: .809em;
    border-radius: 0.5em;
   }


  #txpCommentPreview, #txpCommentSubmit {
    margin-top: 1.618em;
  }

}

/* ============================================================================================================================
  
   ============================================================================================================================
   ============================================================================================================================
   ============================================================================================================================ */

@media only screen and (min-width: 25rem) {

/* ========================================
   Alignment & line-length adjustments
   ======================================== */

.site-header {
  width: 90%; 
  padding: 3px 28px; 
}
.wrapper {
  width: 90%;
}
.container {
  padding: 0 28px; 
}
}

/* ==========================================================================
   
   ========================================================================== */
@media only screen and (min-width: 36rem) {

/* ========================================
   Prevent headings overpowering home page
   ======================================== */ 
  .front-page h2 {
    font-size: 2rem;
  }
  .front-page p.subhead {
    font-size: 1.8rem;
  }
  .front-page h3 {
    font-size: 1.8rem ;
  } 
  .front-page h4 {
    font-size: 1.35rem; 
  }


html>body {
    font-size: 20px; 
    line-height: 1.618;
  }


.site-header {
  width: 95%;
}
.wrapper {
  width: 95%;
}

.site-footer {
  padding-top: 1.618em;
}

ol, ul {
  margin-top: 1.618em;
  margin-bottom: 1.618em;
}

img {
  margin: 0;
}
figure {
  margin: .809em 0;
}
figcaption {
  font-size: 1rem;
}
.bodywrap p:first-of-type:first-letter,
.latest-p:first-letter {
  font-size: 30px;
}
}

/* ==========================================================================
   
   ========================================================================== */
@media only screen and (min-width: 41rem) {


.site-header {
  width: 90%; 
  padding: 0 38px; 
}
.wrapper {
  width: 90%;
}
.container {
  padding: 0 38px; 
}
}

/* ==========================================================================
   
   ========================================================================== */
@media only screen and (min-width: 44rem) {


.site-header{
  width: 82%; 
}
.wrapper {
  width: 82%;
}
}
/* ==========================================================================
   
   ========================================================================== */
@media only screen and (min-width: 49rem) {

html>body {
    font-size: 24px; 
    line-height: 1.618;
  }
.site-header{
  width: 85%; 
}
.wrapper {
  width: 85%;
}
.bodywrap p:first-of-type:first-letter,
.latest-p:first-letter {
  font-size: 36px;
}
}
/* ==========================================================================

   ========================================================================== */
@media only screen and (min-width: 55rem) {

.site-header{
  width: 78%; 
  padding: 0 48px; 
}
.wrapper {
  width: 78%;
}
.container {
  padding: 0 48px; 
}
}
/* ==========================================================================

   ========================================================================== */
@media only screen and (min-width: 62rem) {

html>body {
    font-size: 28px; 
    line-height:1.618;
  }
.bodywrap p:first-of-type:first-letter,
.latest-p:first-letter {
  font-size: 42px;
}
}

/* ==========================================================================
   Additional accessibility for screen media
   ========================================================================== */
@media screen and (prefers-reduced-motion: reduce), (update: slow) {
  .search input[type=search] {
    transition-duration: 0s;
}
}
/* ==========================================================================
   Styling and layout for print media
   ========================================================================== */
@media print {
  /**
   * Remove unnecessary global styling from printed media.
   */
  *,
*::before,
*::after {
    background: transparent !important;
    box-shadow: none !important;
    color: #000000 !important;
    text-shadow: none !important;
  }

  /**
   * Use a print-friendly font size.
   */
  html {
    font-size: 8pt;
    line-height: 1.5;
  }

  /**
   * Use a print-friendly font family.
   */
  body {
    margin: 0.5cm;
    padding: 2em 5em;
    font-family: "Helvetica Neue", sans-serif;
  }

  /**
   * Make sure links are not underlined.
   */
  a {
    text-decoration: none;
  }

  /**
   * Visually separate header from body.
   */
  .site-header {
    border-bottom: 1pt solid #000000;
  }

  /**
   * Visually separate footer from body.
   */
  .site-footer {
    margin-top: 12pt;
    border-top: 1pt solid #000000;
  }

  /**
   * Hide unnecessary content from print.
   */
  nav,
audio,
video,
form,
#comments-form,
.comments h4 a:last-child,
.complementary-content,
.paginator,
.skip-link {
    display: none;
  }

  /**
   * Show long-form for abbreviations in print.
   */
  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /**
   * Harmonize size, style and vertical margin of headings.
   */
  h1 {
    margin: 16pt 0;
    font-size: 32pt;
    font-weight: normal;
    line-height: 36pt;
  }

  h2 {
    margin: 14pt 0;
    font-size: 24pt;
    line-height: 28pt;
    orphans: 2;
    widows: 2;
    page-break-after: avoid;
  }

  h3 {
    margin: 12pt 0;
    font-size: 18pt;
    line-height: 22pt;
    orphans: 2;
    widows: 2;
    page-break-after: avoid;
  }

  h4 {
    margin: 11pt 0;
    font-size: 14pt;
    line-height: 18pt;
    orphans: 2;
    widows: 2;
    page-break-after: avoid;
  }

  h5 {
    margin: 10pt 0;
    font-size: 12pt;
    line-height: 16pt;
    orphans: 2;
    widows: 2;
    page-break-after: avoid;
  }

  h6 {
    margin: 9pt 0;
    font-size: 10pt;
    line-height: 14pt;
    orphans: 2;
    widows: 2;
    page-break-after: avoid;
  }

  /**
   * Prevent widows (single final paragraph line on next page) and orphans (single
   * first paragraph line on previous page).
   */
  p {
    orphans: 2;
    widows: 2;
  }

  /**
   * Harmonize size and style of small text.
   */
  footer,
figcaption,
tfoot,
small {
    font-size: 6pt;
  }

  /**
   * Simple blockquote styling.
   *
   * 1. Avoid blockquotes breaking across multiple pages.
   */
  blockquote {
    padding: 0 0 0 8pt;
    border-left: 3pt solid #000000;
    font-size: 16pt;
    /* 1 */
    page-break-inside: avoid;
  }

  [dir=rtl] blockquote {
    padding: 0 8pt 0 0;
    border-right: 3pt solid #000000;
    border-left: 0;
  }

  /**
   * Simple preformatted text styling.
   *
   * 1. Ensure pre blocks are wrapped when printed.
   */
  pre {
    margin-bottom: 8pt;
    padding: 8pt;
    border: 1pt solid #000000;
    /* 1 */
    white-space: pre-wrap !important;
  }

  /**
   * Use a print-friendly monospaced font and size.
   */
  pre,
code,
kbd,
samp,
var {
    font-family: "Courier New", Courier, monospace;
  }

  /**
   * Images.
   *
   * 1. Avoid images breaking across multiple pages.
   *
   * Image alignment (compatible with Textile markup syntax).
   *
   * Example HTML:
   *
   * <img class="align-left">
   * <img class="align-right">
   * <img class="align-center">
   */
  img {
    /* 1 */
    page-break-inside: avoid;
  }
  img.align-left {
    margin: 1em 1em 1em 0;
    float: left;
  }
  img.align-right {
    margin: 1em 0 1em 1em;
    float: right;
  }
  img.align-center {
    display: block;
    margin: 1em auto;
  }

  /**
   * Swap image alignment right/left positions in RTL languages.
   */
  [dir=rtl] img.align-left {
    margin: 1em 0 1em 1em;
    float: right;
  }
  [dir=rtl] img.align-right {
    margin: 1em 1em 1em 0;
    float: left;
  }

  /**
   * Ensure margin below `figure`.
   */
  figure {
    margin-bottom: 8pt;
  }

  /**
   * Ensure margin above `figcaption`.
   */
  figcaption {
    margin-top: 4pt;
  }

  /**
   * Simple bullet styling for `ul` unordered lists.
   */
  ul {
    padding: 0 0 8pt 1.8em;
    list-style: square;
  }

  [dir=rtl] ul {
    padding: 0 1.8em 8pt 0;
  }

  /**
   * Simple numerical styling for `ol` ordered lists.
   */
  ol {
    padding: 0 0 8pt 1.8em;
    list-style: decimal;
  }

  [dir=rtl] ol {
    padding: 0 1.8em 8pt 0;
  }

  /**
   * Normalize margins on `dl` definition lists.
   */
  dl {
    padding: 0 0 8pt 1.8em;
  }

  [dir=rtl] dl {
    padding: 0 1.8em 8pt 0;
  }

  /**
   * 1. Make `table` span entire page width.
   * 2. Ensure margin below `table`.
   */
  table {
    /* 1 */
    width: 100%;
    /* 2 */
    margin-bottom: 8pt;
  }

  /**
   * Harmonize styling for `caption`.
   */
  caption {
    margin-bottom: 4pt;
    font-weight: bold;
  }

  /**
   * Avoid table rows breaking across multiple pages.
   */
  tr {
    page-break-inside: avoid;
  }

  /**
   * Simple styling for table cells.
   */
  th,
td {
    padding: 4pt 8pt;
    border-bottom: 1pt solid #000000;
  }

  /**
   * Display table head across multi-page tables.
   */
  thead {
    display: table-header-group;
  }
  thead th {
    border-top: 1pt solid #000000;
  }

  /**
   * Avoid user comments breaking across multiple pages.
   */
  .comments {
    page-break-inside: avoid;
  }
}


/* ==========================================================================
   COLOURS USED
   ========================================================================== */

.site-header 
  {background: transparent;  }

.wrapper,
.site-header a, 
.site-header a:visited 
  {background: #fbfbfe;  }

.search input[type=search],
tbody tr:nth-child(even) 
  {background-color: #fbfbfe; }

.container,
.site-footer 
  {background: #fff;  }

.skip-link,
.search input[type=search]:focus 
  {background-color: #fff;  }

.site-footer,
.complementary-content  
  {border-top: 1px solid #cfd4e2;  }

.article-list,
.article-list li 
  {border-bottom: 1px solid #cfd4e2;  }

.sticky-post,
fieldset,
thead th,
thead td 
  {border: 1px solid #cfd4e2; }


.search input[type=search]:hover,
.site-header a:hover, 
.site-header a:active,
mark,
var,
.comments-author,
#cpreview 
  {background: #e2deeb;  }


a, 
.skip-link,
body,
figcaption,
tfoot,
button,
input,
optgroup,
select,
textarea
  {color: #50586e; }

a:visited,
.article a:visited 
  {text-decoration-color: #727e9d;}

.article h2 a, 
.article h2 a:visited,
h1,
h2,
h3,
h4,
p.subhead 
  {color: #727e9d;  }

  .paginator a, 
.site-footer a.prev, 
.site-footer a.up,
.sc,
.ss label 
  {color: #727e9d;  }

a:hover, 
a:active,
.article a:hover, 
.article a:active,
.paginator a:hover, 
.site-footer a.prev:hover, 
.site-footer a.up:hover 
  {color: #92008b;  text-decoration-color: #92008b !important;  }

.article h2 a:hover, 
.article h2 a:active,
a.topl:hover,
a.topl:active,
a.topr:hover,
a.topr:active,
.error_message li,
p#txpCommentInputForm,
.site-header a:hover, 
.site-header a:active 
  {color: #92008b;  }

a:focus 
  {outline: 1px solid #92008b;  }

.comments_error 
  {border-color: #92008b;  }

.site-header a, 
.site-header a:visited,
.site-header h1, 
.site-header nav
  {color: #22262f; }


.bodywrap p:first-of-type:first-letter,
.latest-p:first-letter,
mark,
var
  {color: #ac887d;  }


.sticky-post,
.comments,
thead tr 
  {background: #eef0f5;  }

th,
td 
  {border: 1px solid #cdd2b6; }

blockquote 
  {color: #6f7455; border: 1px solid #cdd2b6;  }

pre,
code,
kbd,
samp 
  {border: 1px solid #cdd2b6; background: #fbfbfe; color: #6f7455;  }

.required 
  {color: #a80c35;  }



/* ==========================================================================
      CATEGORY COLOURS
   ========================================================================== */

.cat::after {
    content: "●";
    color: lightskyblue;
}
.lion::after {
    content: "●";
    color: khaki;
}
.tiger::after {
    content: "●";
    color: palegreen;
}
.jaguar::after {
    content: "●";
    color: lightsteelblue;
}
.leopard::after {
    content: "●";
    color: darksalmon;
}
.lynx::after {
    content: "●";
    color: lightpink;
}
